* {
    font-family: 'Special Elite', cursive;
    font-weight: bold;
}

.background {
    background-color: #454545
}

#scrape {
    font-family: 'Special Elite', cursive;
    font-weight: bold;
}
.container-fluid, .content-box {
    background-image: url('newspaper.jpg');
    opacity: 0.95;

}

h1, h2, h3 {
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
}

#articles {
    display: inline-block;
    overflow: auto;
    height: 700px;
}

input, textarea {
    width: 95%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }